<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.oumaymasapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.oumaymasapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <activity
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" android:name="com.facebook.FacebookActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.oumaymasapplication.app.modules.frame216.ui.Frame216Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.frame221.ui.Frame221Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.listeventcontainer.ui.ListEventContainerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.onboarding.ui.OnBoardingActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.recyclingdetails.ui.RecyclingDetailsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.recyclingdetailsone.ui.RecyclingDetailsOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.frame213.ui.Frame213Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.frame220.ui.Frame220Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.navmenuoverlay.ui.NavMenuOverlayActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.rewards.ui.RewardsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.frame223.ui.Frame223Activity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.oumaymasapplication.app.modules.onboardingone.ui.OnBoardingOneActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.oumaymasapplication.app.modules.eight.ui.EightActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.frame224.ui.Frame224Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.frame219.ui.Frame219Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.insidefundraiserone.ui.InsideFundraiserOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.frame211.ui.Frame211Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.reclamation.ui.ReclamationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.frame225.ui.Frame225Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.nine.ui.NineActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.frame222.ui.Frame222Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.seven.ui.SevenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.oumaymasapplication.app.modules.frame210.ui.Frame210Activity" android:screenOrientation="portrait"/>
    </application>
</manifest>
